@font-face {
  font-family: uni;
  src: local(UnifrakturCook-Bold),
    url(fonts/unifrak-bold/UnifrakturCook-Bold.ttf);
}

@font-face {
  font-family: akaya;
  src: local(AkayaTelivigala-Regular),
    url(fonts/akaya/akayatelivigala-Regular.ttf);
}

@font-face {
  font-family: stick;
  src: local(Stick-Regular), url(fonts/stick/Stick-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("img/Simple\ Shiny1.svg");
}

/*navigation bar*/

ul {
  list-style-type: none;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(65, 253, 159, 0.973);
  padding: 14px 16px;
  height: 30px;
}

.navigationbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#groupA {
  padding-left: 100px;
}
li {
  display: inline;
}

li a {
  text-decoration: none;
  font-size: 19px;
  padding: 14px 16px;
  font-family: RoundestSerial;
  color: #f50aed;
  text-align: center;
}

li a:hover {
  color: blue;
  background-color: #e6ffe6;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 8px;
}

.searchbox {
  position: fixed;
  top: 0;
  margin-top: 20px;
  margin-left: 500px;
}

input[type="text"] {
  width: 140px;
  transition: width 0.9s ease-in-out;
  background-color: rgb(247, 235, 218);
  border-radius: 1px;
  border: 1px solid honeydew;
}

input[type="text"]:focus {
  width: 300px;
  background-color: rgb(243, 209, 199);
  border-radius: 2px;
  box-shadow: 8px 9px 0px rgb(181, 184, 181);
}

/*menu bar*/

.dropdown img {
  cursor: pointer;
}

#output {
  border: none;
  margin-left: 10px;
  margin-top: 10px;
}

.dropdown {
  position: fixed;
  left: 0;
  top: 10;
}

#dropbtn {
  display: none;
  box-shadow: 0px 16px 23px 0px green;
  background-color: #e2f3f5;
  height: 1000px;
}

#dropbtn a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 16px;
  color: red;
  text-align: center;
  width: 130px;
  border-bottom: 1px solid gold;
  font-family: akaya;
}

#dropbtn a:hover {
  background-color: lightblue;
  color: green;
}

#dropbtn img {
  padding-right: 10px;
}

.profileicon {
  margin-bottom: -8px;
}

.notiicon {
  margin-bottom: -8px;
  transform: rotate(-15deg);
}

.settingicon {
  margin-bottom: -8px;
}

#exit {
  display: none;
  margin-right: 10;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px;
  margin-top: 10px;
}

.thank {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 40px;
  font-family: uni;
}

.thank2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
  padding-left: 60px;
  font-family: uni;
}

/*about us*/

.con {
  height: 540px;
}

h1 {
  color: blue;
  padding-top: 50px;
  text-align: center;
}

h1::first-letter {
  color: red;
  font-style: italic;
}

.hi {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme {
  padding-top: 30px;
  text-align: center;
}

.batmanbig {
  float: left;
}

.aboutus2 {
  text-align: center;
}

.aboutus1 {
  border: 2px solid red;
  padding-bottom: 20px;
}

.aboutus {
  padding: 20px;
}

/*shopping menu*/

.menu {
  float: left;
  margin: 24px;
  border: 1px solid gray;
}

h2 {
  margin-left: 290px;
}

.ironman {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
}

.spiderman {
  padding-bottom: 20px;
  margin-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.loki {
  padding-bottom: 15px;
  margin-top: 8px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
}

.cost {
  text-align: center;
  border-top: 1px solid green;
  background-color: gold;
  padding-top: 10px;
  height: 30px;
  transition: background-color ease-in-out 0.3s;
}

.cost:hover {
  background-color: #e41749;
}

.collect {
  margin-left: 300px;
}

#break {
  clear: left;
}

.menu3 {
  float: left;
  margin: 24px;
  border: 1px solid gray;
}

.menu2 {
  margin-left: 200px;
}

/*final page and contact us*/

.headfinal {
  padding-bottom: 20px;
  background-image: url("img/Wave.svg");
}

.finalpageparagraph {
  clear: left;
  width: 30%;
  margin-left: 420px;
  text-align: justify;
}

h3 {
  margin-left: 500px;
  margin-top: 60px;
}

.finalpage {
  clear: left;

  padding: 40px;
  margin-top: 50px;
}

.finalpageimg {
  margin-left: 515px;
  margin-top: 50px;
}

.finalpageimg img {
  padding-left: 15px;
  transition: transform ease-in 6s;
}

.googleimg {
  padding-bottom: 2px;
}

.finalpage img:hover {
  transform: rotate(360deg);
}

.marketlogo {
  float: right;
  margin-top: -300px;
  margin-right: 130px;
}

.coding {
  margin-top: -200px;
  float: left;
}

/* custormer review */

.cushead {
  margin-top: 40%;
  clear: left;
  background-image: url("img/World\ Map.svg");
  background-repeat: no-repeat;
}

.cus h2 {
  color: #f31515;
  padding-left: 17%;
}

.cus {
  padding-top: 40px;
  height: 590px;
}

.all-vi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 100px;
  padding-top: 40px;
  margin-left: 80px;
}

.firstround {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-left: 100px;
  background-image: url("img/bg1.jpg");
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid greenyellow;
}

.firstsquare {
  width: 230px;
  height: 250px;
  border-radius: 8px;
  background-color: rgb(77, 241, 77, 0.3);
  margin-top: -90px;
  margin-left: 33px;
  padding-bottom: 60px;
  text-align: justify;
}

.head span {
  color: yellow;
  font-size: 20px;
  margin-left: 67px;
}

.head p {
  width: 190px;
  margin-left: 20px;
  padding-top: 50px;
  text-align: justify;
}

.ahee {
  clear: right;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: rgb(243, 89, 89);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
}

.ahee:hover {
  box-shadow: 8px 5px 0 #9ca2a3b4;
  transition: ease-in-out 0.3s;
}

.gi {
  transform: rotate(90deg);
  /* margin-top: 18px; */
  font-family: stick;
  margin-left: 10px;
  font-size: 25px;
}
